body {
  margin: 0 15%;
}

.user-review {
  border-bottom: 1px solid black;
  margin-bottom: 1em !important;
}

.response {
  margin-top: 10px !important;
  padding: 0.5em;
  background-color: #ebebeb;
}

#sort-menu-title {
  margin-bottom: 0.5em;
}

#reviews-sort {
  margin-bottom: 0.5em;
}

#reviews-buttons {
  display: flex;
  justify-content: space-between;
}

#reviews-photos-container {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

#reviews-photos {
  display: flex;
  flex-direction: row;
}

#reviews-photos img {
  max-width: 75px;
  height: auto;
  object-fit: contain;
}

.breakdown-number {
  color: black;
}

.breakdown-number:visited {
  color: black;
}

#review-modal {
  width: 60vw;
}

#review-user-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  margin: 0 2em;
  margin-bottom: 1em;
}

#review-overview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  margin: 0 2em;
  margin-bottom: 1em;
}

#review-characteristics {
  margin: 1em 2em !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

#review-footer {
  margin: 1em 2em;
  display: flex;
  flex-direction: column;
}

.review-body {
  margin: 1em 0 !important;
}

/* .review-footer {
  margin: 1em 0 !important;
} */

#review-submit {
  width: 100%;
}

.MuiLinearProgress-barColorPrimary {
  background-color: #4caf50 !important;
}

.MuiLinearProgress-colorPrimary {
  background-color: #c2c2c2 !important;
}

#breakdown {
  margin-bottom: 0.5em;
}

#percent-recommend {
  padding: 0.5em 0;
}

.characteristic {
  margin-top: 1em;
  display: flex;
}

.characteristic-bar-container {
  display: flex;
  flex-direction: column;
}

.characteristic-bar {
  width: auto;
  height: 4px;
  background-color: #c2c2c2;
}

.characteristic-marker-container {
  display: inline-block;
}

.characteristic-marker {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid #333;
}

.characteristic-description-container {
  display: flex;
  justify-content: space-between;
}

.characteristic-description {
  font-size: 0.75em;
}

a:hover {
  cursor: pointer;
}